<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.HealthDiaryMapper">
  <sql id="selectColumns">
    `id`,
    `user_id`,
    `weight`,
    `distinct_date`
  </sql>
  <sql id="insertColumns">
    `user_id`        = #{userId},
    `weight`         = #{weight},
    `distinct_date`  = #{distinctDate}
  </sql>
  <sql id="updateColumns">
    `user_id`          = #{userId},
    `weight`           = #{weight},
    `distinct_date`    = #{distinctDate},
    `updated_at`       = NOW()
  </sql>

<select id="getHealthDiary" resultType="com.example.springbootdemo.entity.HealthDiary">
  SELECT
  <include refid="selectColumns"/>
  FROM health_diary
  WHERE user_id = #{userId} AND distinct_date =#{distinctDate}
</select>
  <select id="getWeightInfoForMonth" resultType="com.example.springbootdemo.entity.HealthDiary">
    SELECT
    <include refid="selectColumns"/>
    FROM health_diary
    WHERE user_id = #{userId}
    AND distinct_date <![CDATA[ >= ]]> #{firstDay}
    AND distinct_date <![CDATA[ <= ]]> #{lastDay}
  </select>
  <insert id="createWeightInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO `health_diary`
    SET <include refid="insertColumns"/>
  </insert>
  <update id="updateWeightInfo">
    UPDATE `health_diary`
    SET <include refid="updateColumns"/>
    WHERE `user_id` = #{userId} AND distinct_date =#{distinctDate}
  </update>
</mapper>