<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.ItemMapper">

  <insert id="insert" keyProperty="id" useGeneratedKeys="true">
    INSERT INTO users
    SET
    <include refid="insertColumns"/>
  </insert>

  <select id="findAll" resultType="com.example.springbootdemo.entity.Item">
    SELECT
    <include refid="selectColumns"/>
    FROM users
    ORDER BY id
  </select>

  <select id="findById" resultType="com.example.springbootdemo.entity.Item">
    SELECT
    <include refid="selectColumns"/>
    FROM users
    WHERE id = #{id}
  </select>

  <sql id="selectColumns">
    `id`
    ,
    `name`
  </sql>
  <sql id="insertColumns">
    `name`
    =
    #{name}
  </sql>
</mapper>
