<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.TrainingMapper">
  <sql id="selectColumns">
    `id`,
    `user_id`,
    `training_menu`,
    `training_by_part`,
    `times`,
    `reps`,
    `training_date`
  </sql>
  <sql id="insertColumns">
    `user_id`        = #{userId},
    `training_menu`  = #{trainingMenu},
    `training_by_part` = #{trainingByPart},
    `times`          = #{times},
    `reps`           = #{reps},
    `training_date`  = #{trainingDate}
  </sql>

  <select id="getTrainingHistory" resultType="com.example.springbootdemo.entity.Training">
    SELECT
    <include refid="selectColumns"/>
    FROM training
    WHERE user_id = #{userId}
    AND training_date <![CDATA[ >= ]]> #{thisMonday}
    AND training_date <![CDATA[ <= ]]> #{thisSunday}
  </select>
  <select id="getTimesOfTheMonthByPart" resultType="com.example.springbootdemo.entity.Training">
    SELECT
    <include refid="selectColumns"/>
    FROM training
    WHERE user_id = #{userId}
    AND training_date <![CDATA[ >= ]]> #{firstDay}
    AND training_date <![CDATA[ <= ]]> #{lastDay}
  </select>
  <insert id="createTrainingInfo" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
    INSERT INTO `training`
    SET <include refid="insertColumns"/>
  </insert>
</mapper>