<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springbootdemo.mapper.UserMapper">
  <sql id="selectColumns">
    `id`,
    `name`,
    `email`,
    `password`
  </sql>
  <sql id="insertColumns">
    `name`     = #{name},
    `email`    = #{email},
    `password` = #{password}
  </sql>

  <select id="getUser" resultType="com.example.springbootdemo.entity.User">
    SELECT
    <include refid="selectColumns"/>
    FROM accounts
    WHERE email = #{email} AND password = #{password}
  </select>

  <insert id="postUser" useGeneratedKeys="true" keyColumn="id">
    INSERT INTO `accounts`
    SET <include refid="insertColumns"/>
  </insert>
</mapper>
